@media only screen and (max-width:1172px) {
    nav figure {
        padding-top: 20px;
    }

    nav ul {
        margin-right: 0px;
    }
}


@media only screen and (max-width: 992px) {


    nav {
        height: auto;
    }

    nav figure {
        padding-top: 20px;
    }
    .about-content div {
        width: 33%;
    }

    form {
        padding: 0px;
        width: 96%;

    }


    form input.half2,
    form input.half {
        width: 100%;
        margin-right: 0px;

    }

    form input.half2 {
        margin-left: 0px;
        margin-top: 20px;
    }

    form input.subject {
        width: 100%;
    }

    form button.submit {
        width: 100%;
    }
    form textarea {
        width: 100%;
        padding: 0px;
    }
}


/*++++++++    768px mediaQueries  ****************************************************************/

@media only screen and (max-width: 768px) {

    nav ul.nav-mobile-ul {
        display: none;
    }
    
    
    
    nav figure{
        width: 100%;
        display:flex;
        justify-content: space-around;
        align-items: center;
        padding:20px;
        margin:0px;
    }
    #mobile-menu{
        display:block;
    }
    nav ul {
        margin:0px;
        padding-left:0px;
    }

    .about-content div {
        width: 100%;
    }
    nav ul li a{
        display:inline-block;
        width: 90vw;
        text-align:center;
    }
}

@media only screen and (max-width: 576px){
    header p{
        margin-top:5px;
        margin-bottom: 5px;
    }
    header button{
        margin-top:5px;
    }
    
    .about-content{
        margin-left:auto;
        margin-right:auto;
        flex-direction: column;
    }
    
    
    #clients{
        height: auto;
        padding-bottom: 121px;
    }
    #clients .about-content figure{
        margin-top:16px;
    }
}
